<div class="user-list group">

  <ul>
    <div class="avatar-wrap">
      <% if @user_profile.first.img_url.blank? %>
      <img src="/stylesheets/images/Icon-user.png" class="user-avatar1">
      <% else %>
      <img src=" <%= @user_profile.first.img_url %>" class="user-avatar">
      <% end %>
    </div>

    <div class="user-info-wrap">
      <h2 class="greeting">Hey, <%= @user_profile.first.first_name %></h2>
      <div>
        <form class="edit-form" action="/profile/<%= @user_profile.first.id %>/edit" method="get">
          <button class="edit-button">Edit Profile</button>
        </form>
        <a href="/recipes/new" class="add-button">Add a recipe</a>
      </div>
      <div class="user-info-inner-wrap">
        <li>You have contributed <%= Recipe.where(user_id: @user_profile.first.id).count %> recipes!</li>
        <li>You have helped reduce food wastage _ times!</li>
      </div>
    </div>
  </ul>

</div>

<h1>Recipes you contributed</h1>

<% if @recipes.length == 1 %>

  <div class='recipes-list'>
    <a href="/recipes/<%= @recipes.first.id %>"> <p><%= @recipes.first.name %> </p></a>
    <img src="<%= @recipes.first.img_url %>" alt="" class="recipe-list-img">
    <p><a class="recipes-icon" href="/recipes/<%= @recipes.first.id %>/edit" ></a></p></br>
  </div>


<% elsif @recipes.length > 1 %>

  <div class=recipes-list-wrap>
    <% @recipes.each do |recipe| %>
      <div class='recipes-list'>
        <a href="/recipes/<%= recipe.id %>">
          <p> <%= recipe.name %> </p>
          <% if recipe.img_url.blank? %>
            <img src="/stylesheets/images/Food-icon-green.png"  class="recipe-list-img">
          <% else %>
            <img src="<%= recipe.img_url %>">
          <% end %>
          <p><a class="recipes-icon" href="/recipes/<%= recipe.id %>/edit" ></a></p></br>
        </a>
      </div>
    <% end %>
  </div>

<% end %>
