
<div class="user-list">
<ul>
  <li>Profile Photo</li>
  <% if @user_profile.first.img_url.blank? %>
    <img src="/stylesheets/images/Icon-user.png" class="user-avatar">
  <% else %>
    <img src=" <%= @user_profile.first.img_url %>" class="user-avatar">
  <% end %>
  <li>Name</li>
  <li>Count of recipes made</li>
  <li><a href="/recipes/new">Add a recipe</a></li>
  <li>List of Recipes uploaded</li>
  <li>List of Recipes made</li>
</ul>
</div>

<% if @recipes.length == 1 %>

  <a href="/recipes/<%= @recipes.first.id %>"> <%= @recipes.first.name %> </a>

<% elsif @recipes.length > 1 %>

  <% @recipes.each do |recipe| %>
    <a href="/recipes/<%= recipe.id %>">
      <p> <%= recipe.name %> </p><a href="/recipes/<%= recipe.id %>/edit">Edit</a>
    </a>
  <% end %>

<% end %>
